---
http_interactions:
- request:
    method: post
    uri: http://www.webmotors.com.br/carro/modelos
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 27 Jul 2016 21:58:26 GMT
- request:
    method: post
    uri: http://www.webmotors.com.br/carro/modelos?marca=28
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":744,"Nome":"106","Count":0,"NomeAmigavel":"106"},{"Id":3515,"Nome":"2008","Count":0,"NomeAmigavel":"2008"},{"Id":746,"Nome":"205","Count":0,"NomeAmigavel":"205"},{"Id":1072,"Nome":"206","Count":0,"NomeAmigavel":"206"},{"Id":2942,"Nome":"207","Count":0,"NomeAmigavel":"207"},{"Id":3360,"Nome":"208","Count":0,"NomeAmigavel":"208"},{"Id":3184,"Nome":"3008","Count":0,"NomeAmigavel":"3008"},{"Id":747,"Nome":"306","Count":0,"NomeAmigavel":"306"},{"Id":1179,"Nome":"307","Count":0,"NomeAmigavel":"307"},{"Id":3298,"Nome":"308","Count":0,"NomeAmig[...]
