<form action="/models" method="GET">
  <p class='form-group col-md-4'>
    <select name="webmotors_make_id" class='form-control'>
      <option value="" selected disabled>Escolha a Fabricante</option>
      <% @makers.each do |make| %>
        <option value="<%= make.webmotors_id %>"><%= make.name %></option>
      <% end %>
    </select>
  </p>

  <input type="submit" value="Buscar modelos" class='btn btn-primary'>
</form>
